@media (max-width: 450px) {
  .container {
    max-width: 450px;
    text-align: justify;
    margin: 0 auto;
    /*word-wrap: break-word;*/
  }
  .row {
    position: relative;
    top: 50px;
  }
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  body {
    max-width: 450px;
    margin: 0 auto;
    text-align: justify;
  }
  /*tre on after finish register*/
  .navbar-right {
    margin-right: auto;
    display: none;
  }
  #navbar ul {
    display: none;
    background-color: green;
    position: absolute;
    top: 100%;
  }
  #navbar li:hover ul {
    display: block;
  }
  #navbar,
  #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #navbar {
    height: 30px;
    background-color: green;
    padding-left: 25px;
    min-width: 470px;
  }
  #navbar li {
    float: left;
    position: relative;
    height: 100%;
  }
  #navbar li ol {
    float: left;
    position: relative;
    height: 100%;
  }
  #navbar li a {
    display: block;
    padding: 6px;
    width: 130px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  #navbar ul li {
    float: none;
  }
  #navbar li:hover {
    background-color: #f90;
  }
  #navbar ul li:hover {
    background-color: #666;
  }
  .navbar-inverse .navbar-toggle {
    border-color: #333;
  }
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 30px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .circle-img img {
    width: 350px;
    height: 226px;
    border-radius: 50%;
    margin-bottom: 20px;
    float: left;
  }
  .carousel-inner>.item>img {
    margin: 0 auto;
    max-height: 350px;
  }
  .left {
    text-align: left;
    background-color: #BAFF85
  }
  .right {
    text-align: right;
    background-color: #BAFF85
  }
  #myCarousel {
    max-width: 450px;
    max-height: 350px;
    margin: 0 auto;
  }
  #map {
    margin: 0 auto;
    width: 300px;
    height: 230px;
    text-align: center;
  }
  .social img {
    width: 25px;
    height: 25px;
    text-align: center;
  }
  #footer {
    text-align: center;
    float: inherit;

    background-color: #BAFF85
  }
  .fleft {
    margin: 0 auto;
    text-align: center;

    top: -55px;
    background-color: #BAFF85
  }
  .fcenter {
    margin: 0 auto;
    text-align: center;
height: auto;
    top: -55px;
    background-color: #BAFF85
  }
  .fright {
    text-align: center;
    margin: 0 auto;
height: inherit;
    top: -55px;
    background-color: #BAFF85;
  }
  .social {
    text-align: center;

  }
  #menu {
    display: none;
  }
}
.price{
  
}
.old{
  
}